body {
    color: #ccc;
}

#title, .subtitle, .post-title {
    color: blue
}

.post-title {
    font-size: 16px;
    font-style: italic;
}

.post {
    color: #fff;
    padding: 10px;
    border: 4px dashed #000;
    margin: 10px;
}
